@model IEnumerable<CodingApe.Models.Class>
@{
    ViewBag.Title = "Class";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    @foreach (var user in Model) {
        <li>@user.Categories.Id</li>
    }
</ul>

